.wrapper,
.wrapperError{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-weight: bold;
    min-width: 300px;
}

.wrapper input,
.wrapper textarea {
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #403D39;
}

.wrapperError input,
.wrapperError textarea {
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    border: 2px solid #d70011;
}

.wrapper input:focus,
.wrapper textarea:focus {
    outline-color: #403D39;
}

.error {
    font-size: 12px;
    color: #d70011;
}
