.wrapper {
    display: flex;
    flex-direction: column;
}

.offersWrapper {
    flex-direction: column;
}

@media (min-width: 700px) {
    .offersWrapper {
        display: flex;
        flex-direction: row;
        gap: 5vw;
    }
}