.grade {
  width: 80px;
  aspect-ratio: 1;
  margin-right: 10px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
