/* COLORS
    #FFFCF2
    #CCC5B9
    #403D39
    #252422
    #EB5E28
*/

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #EB5E28;
}

.wrapper > * {
    margin-bottom: 10px;
}

@media (min-width: 700px) {
    .wrapper {
        flex-direction: row;
    }

    .wrapper > * {
        margin-bottom: 0;
    }
}