h3 {
    text-transform: uppercase;
    margin-top: 50px;
}

.bio {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.data p {
    margin: 2px;
}

.data p span {
    display: inline-block;
    min-width: 75px;
    font-weight: bold;
}